# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t')

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [4]:
# convert item_price from object to float
price_to_float = lambda x: float(x[1:])
chipo['item_price'] = chipo['item_price'].apply(price_to_float)

In [15]:
# how many items are over $10
chipo_price = (chipo
 .assign(price = chipo['item_price'] / chipo['quantity']) # could be one item more than $10 thats bought in bulk
 .drop_duplicates(['item_name', 'price'])
)

In [22]:
costly_items = chipo_price[chipo_price['price'] > 10].item_name.unique()

In [23]:
print(costly_items)

['Chicken Bowl' 'Steak Burrito' 'Chicken Burrito' 'Barbacoa Bowl'
 'Veggie Burrito' 'Veggie Bowl' 'Chicken Soft Tacos' 'Steak Bowl'
 'Carnitas Burrito' 'Carnitas Bowl' 'Barbacoa Burrito'
 'Chicken Salad Bowl' 'Barbacoa Crispy Tacos' 'Veggie Salad Bowl'
 'Chicken Salad' 'Steak Salad Bowl' 'Chicken Crispy Tacos'
 'Veggie Soft Tacos' 'Barbacoa Soft Tacos' 'Carnitas Crispy Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Steak Soft Tacos'
 'Carnitas Soft Tacos' 'Steak Crispy Tacos']

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

### Step 6. Sort by the name of the item

In [28]:
chipo.sort_values('item_name').head(10)

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49
3422      1373         1  6 Pack Soft Drink             [Coke]        6.49
553        230         1  6 Pack Soft Drink        [Diet Coke]        6.49
1916       774         1  6 Pack Soft Drink        [Diet Coke]        6.49
1922       776         1  6 Pack Soft Drink             [Coke]        6.49
1937       784         1  6 Pack Soft Drink        [Diet Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [29]:
chipo['price'] = chipo['item_price'] / chipo['quantity']
# get max price
max_priced_item = chipo['price'].max()

soln 1 - find the most expensive single item ordered (by base cost) then find how many times that was ordered

In [40]:
(chipo[chipo['price'] == max_priced_item]
 .groupby('item_name')
 .sum()
 .reset_index()[['item_name', 'quantity', 'item_price']]
)

             item_name  quantity  item_price
0  Barbacoa Salad Bowl         5       59.45
1  Carnitas Salad Bowl         4       47.56
2     Steak Salad Bowl        21      249.69

Sol 2 - get the most expensive item by item_price

In [41]:
(chipo
 .sort_values('item_price', ascending=False)
 .head(1)
)

,order_id,quantity,item_name,choice_description,item_price,price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [47]:
# the number of veggie salad bowls ordered
print(chipo[chipo['item_name'] == "Veggie Salad Bowl"].quantity.sum())

# the number of orders that included a veggie salad bowl
print(chipo[chipo['item_name'] == "Veggie Salad Bowl"].shape[0])

18
18

### Step 9. How many times people orderd more than one Canned Soda?

In [59]:
# number of orders that contained 2+ canned sodas
print(chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].order_id.nunique())

# number of times 2+ can sodas were ordered
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].shape[0]

18

20